.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 3px;
  
  
}

.box {
  border: 3px solid black;
  outline: white 10px;
  margin: 20px;  
  padding: 5px;
  text-align: center;

}

body {
  background: #640909;
  animation: fadeInAnimation 1s ease;
  color: white;
  padding: 40px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}